#This config file should first be sorted based on the attribute providing a condition. The attributes that occur the most should be used as a key. Perhaps use the Multimap container class.

author,Schildt,S,id111@gmail.com
author,Rowlins,C,price,15,id222@gmail.com
publisher,Addison-Wesley,C,price,40,id333@gmail.com
author,Bhagat,S,id111@gmail.com
title,Rowlins,C,price,15,id222@gmail.com
publisher,Addison-Wesley,C,price,40,id333@gmail.com
